{% extends "_base.html" %}

{% block content %}
  <div x-data="room" @user-changed.window="handleUserChange(event)">
    <h2 class="subtitle">{{ name }}</h2>

    {% if is_owner %}
      <div class="buttons">
        <button class="button is-primary" id="resetButton" @click="resetVotes">Reset</button>
        <button class="button is-info" id="revealButton" @click="revealVotes">Reveal votes</button>
      </div>
    {% endif %}

    <div class="fixed-grid has-1-cols-mobile has-4-cols-desktop">
      <div class="grid">
        <template x-for="user in users">
          <div class="cell has-text-centered">
            <div class="card">
              <div class="card-content">
                <p class="title" x-text="user.name"></p>
                <button
                  class="button is-large"
                  x-text="user.vote.value || '?'"
                  :class="{'is-success': user.vote.ready}"
                ></button>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="content">
      <h2 class="subtitle">Pick your card</h2>
      <div class="columns">
        <template x-for="i in 10">
          <div class="column">
            <button
              class="button is-large"
              @click="selectCard(i)"
              x-text="fibonacci(i)"
              :class="{'is-info': myVote == i}"
            ></button>
          </div>
        </template>
      </div>
    </div>
    <div id="tada"></div>
    <div class="fixed-grid has-1-cols-mobile has-4-cols-desktop">
      <div class="grid">
        <template x-if="averageVote">
          <div class="cell has-text-centered">
            <div class="card">
              <div class="card-content">
                <p class="title">Moyenne</p>
                <button class="button is-large" x-text="averageVote"></button>
              </div>
            </div>
          </div>
        </template>
        <template x-if="gif_tag">
          <div class="cell has-text-centered">
            <img :src="gif_url" :alt="gif_tag" :aria-label="gif_tag" />
          </div>
        </template>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="//cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.data("room", () => {
        return {
          users: [],
          roomId: null,
          ws: null,
          user: null,
          myVote: null,
          averageVote: null,
          gif_url: null,
          gif_tag: null,

          async init() {
            this.users = JSON.parse(`{{ users|tojson|safe }}`);
            this.roomId = `{{ room_id }}`;
            this.user = {
              name: localStorage.getItem("user_name") || null,
              id: localStorage.getItem("user_id") || null,
            };
            this.ws = new WebSocket(`{{ websocket_protocol }}://{{ host }}/room/${this.roomId}/users/${this.user.id}`);
            await new Promise((resolve) => {
              this.ws.onopen = resolve;
            });

            this.ws.onmessage = (ev) => {
              const { event, data } = JSON.parse(ev.data);
              if (event === "reveal_votes") {
                this.users = data.users;
                this.averageVote = data.average;
                this.gif_url = data.gif_url;
                this.gif_tag = data.gif_tag;
                if (data.variance < 0.1) {
                  party.confetti(document.getElementById("tada"), {
                    count: party.variation.range(80, 100),
                    size: party.variation.range(1, 6),
                    spread: party.variation.range(90, 100),
                  });
                }

                return;
              }
              this.averageVote = null;
              this.gif_url = null;
              this.gif_tag = null;
              this.users = data;
              if (event === "reset_votes") {
                this.myVote = null;
              }
            };

            await this.notifyUserChange();
          },

          async notifyUserChange() {
            if (this.user.name !== null && this.user.id !== null) {
              this.ws.send(JSON.stringify({ event: "user", user: this.user }));
            }
          },

          async fibonacci(i) {
            if (i <= 1) {
              return 1;
            }
            return (await this.fibonacci(i - 1)) + (await this.fibonacci(i - 2));
          },

          async selectCard(vote) {
            this.myVote = vote;
            this.ws.send(
              JSON.stringify({
                event: "vote",
                vote: await this.fibonacci(vote),
              }),
            );
          },

          async resetVotes() {
            this.ws.send(JSON.stringify({ event: "reset_votes", user_id: this.user.id }));
          },

          async revealVotes() {
            this.ws.send(JSON.stringify({ event: "reveal_votes", user_id: this.user.id }));
          },

          async handleUserChange(event) {
            this.user = event.detail;
            await this.notifyUserChange();
          },
        };
      });
    });
  </script>
{% endblock %}
