{% extends "_base.html" %}

{% block content %}
  <div x-data="room" @user-changed.window="handleUserChange(event)">
    <h2 class="subtitle">{{ name }}</h2>

    <div class="buttons">
      <button class="button is-primary" id="resetButton" @click="resetVotes">Reset</button>
      <button class="button is-info" id="revealButton" @click="revealVotes">Reveal votes</button>
    </div>

    <div class="content">
      <h2 class="subtitle">Pick your card</h2>
      <div class="select is-rounded">
        <select x-model="myVote" @change="selectCard()">
          <option selected value="0">Select an option</option>
          <template x-for="i in 10">
            <option x-text="fibonacci(i)" :value="i">Rounded dropdown</option>
          </template>
        </select>
      </div>
    </div>
    <div class="fixed-grid has-1-cols-mobile has-4-cols-desktop">
      <div class="grid">
        <template x-for="u in users">
          <div class="cell has-text-centered">
            <div class="card">
              <div class="card-content">
                <p class="title" x-text="u.name" :class="{'has-text-primary': u.id == user.id}"></p>
                <button class="button is-large" x-text="u.vote.value || '?'" :class="{'is-success': u.vote.ready}"></button>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>

    <div id="tada"></div>
    <div class="fixed-grid has-1-cols-mobile has-4-cols-desktop">
      <div class="grid">
        <template x-if="averageVote">
          <div class="cell has-text-centered">
            <div class="card">
              <div class="card-content">
                <p class="title">Moyenne</p>
                <button class="button is-large" x-text="averageVote"></button>
              </div>
            </div>
          </div>
        </template>
        <template x-if="gif_tag">
          <div class="cell has-text-centered">
            <img :src="gif_url" :alt="gif_tag" :aria-label="gif_tag" />
          </div>
        </template>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="//cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
  <script>
    const url = new URL(`{{ mercure_host }}`);
    url.searchParams.append("topic", `room/{{ room_id }}`);

    const eventSource = new EventSource(url, {
      withCredentials: true,
    });

    eventSource.addEventListener("message", (e) => {
      window.dispatchEvent(new CustomEvent("hub_message", { detail: e.data }));
    });

    window.addEventListener("beforeunload", function (e) {
      fetch(`/room/{{ room_id }}/users`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
      });
      eventSource.close();
    });

    document.addEventListener("alpine:init", () => {
      Alpine.data("room", () => {
        return {
          users: [],
          roomId: null,
          ws: null,
          user: null,
          myVote: null,
          averageVote: null,
          gif_url: null,
          gif_tag: null,
          eventSource: eventSource,

          async init() {
            this.users = JSON.parse(`{{ users|tojson|safe }}`);
            this.roomId = `{{ room_id }}`;
            this.user = {
              name: localStorage.getItem("user_name") || null,
              id: localStorage.getItem("user_id") || null,
            };

            window.addEventListener("hub_message", (e) => {
              const { event, data } = JSON.parse(e.detail);
              if (event === "reveal_votes") {
                this.users = data.users;
                this.averageVote = data.average;
                this.gif_url = data.gif_url;
                this.gif_tag = data.gif_tag;
                if (data.variance < 0.1) {
                  party.confetti(document.getElementById("tada"), {
                    count: party.variation.range(80, 100),
                    size: party.variation.range(1, 6),
                    spread: party.variation.range(90, 100),
                  });
                }

                return;
              }
              this.averageVote = null;
              this.gif_url = null;
              this.gif_tag = null;
              this.users = data;
              if (event === "reset_votes") {
                this.myVote = null;
              }
            });

            await new Promise((resolve) => setTimeout(resolve, 500));
            await this.notifyUserChange();
          },

          async notifyUserChange() {
            if (this.user.name !== null && this.user.id !== null) {
              fetch(`/room/{{ room_id }}/users`, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(this.user.name),
              });
            }
          },

          async fibonacci(i) {
            if (i <= 1) {
              return 1;
            }
            return (await this.fibonacci(i - 1)) + (await this.fibonacci(i - 2));
          },

          async selectCard() {
            fetch(`/room/{{ room_id }}/votes?vote=${await this.fibonacci(this.myVote)}`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
            });
          },

          async resetVotes() {
            fetch(`/room/{{ room_id }}/actions?action=reset`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
            });
          },

          async revealVotes() {
            fetch(`/room/{{ room_id }}/actions?action=show`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
            });
          },

          async handleUserChange(event) {
            this.user = event.detail;
            await this.notifyUserChange();
          },
        };
      });
    });
  </script>
{% endblock %}
